@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: var(--font-inter);
    @apply text-gray-500;
}


button:disabled {
    @apply bg-gray-400 hover:bg-gray-400
}


.griffy {
    font-family: var(--font-griffy)
}