@tailwind base;
@tailwind components;
@tailwind utilities;


/* h1, h2, h3 {
    font-family: var(--font-griffy)
} */

body {
    font-family: var(--font-inter);
    @apply text-gray-500;
}


button:disabled {
    @apply bg-gray-400 hover:bg-gray-400
}


.griffy {
    font-family: var(--font-griffy)
}


/* Oresta Form Styling */

.oresta-form-input {
    @apply h-9 rounded ps-2 border-2 focus:outline-oresta-light;
}

.oresta-action-orange {
    @apply mx-auto bg-orange-500/70 text-gray-100 rounded hover:bg-orange-600/70 focus:outline-none focus:ring-2 focus:ring-oresta-light;
}