@tailwind base;
@tailwind components;
@tailwind utilities;


/* Get rid of default html type input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    font-family: var(--font-inter);
    @apply text-gray-500;
}


button:disabled {
    @apply bg-gray-400 hover:bg-gray-400
}


.griffy {
    font-family: var(--font-griffy)
}


/* Oresta Form Styling */

.oresta-form-input {
    @apply h-10 p-2 rounded outline-none border-2 focus:border-oresta-moss;
}

.oresta-action-orange {
    @apply mx-auto bg-oresta-orange text-gray-100 rounded hover:bg-oresta-orange-hover focus:outline-none focus:ring-2 focus:ring-oresta-moss;
}

.oresta-action-light {
    @apply mx-auto bg-oresta-blue-gray hover:bg-oresta-blue-gray-hover text-gray-100 rounded focus:outline-none focus:ring-2 focus:ring-oresta-moss;
}


/* .gsdf {
    color: #93bdb0
} */